.interface_data {
  .title {
    .text_box;
  }
  div {
    color: #000;
  }
  .inner {
    > div {
      .text_box;
    }
  }
  .title_inner {
    margin-bottom: 30px;
  }
  .speace {
    height: 40px;
  }
  .datas {
    // overflow-y: auto;
    // height: 1000px;
    .w;
    .multi {
      display: flex;
      flex-direction: column;
      .w;
      overflow: hidden;
      .area_hover;

      > div {
        flex: 1;
        .w;
        .text_box_min;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
