.bt_gradient {
  width: 108px;
  height: 32px;
  padding: 0px 16px;
  border-radius: 8px;
  background: linear-gradient(92deg, #26d682 1.9%, #246cf9 94.14%),
    rgba(255, 255, 255, 0.15);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.05) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img {
    width: 16px;
    height: 16px;
  }
  p {
    color: #fff;
    font-family: Source Han Sans CN;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.l_r {
  display: flex;
  justify-content: space-between;
}

.alpha_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.title {
  font-size: 1.2rem;
}

.text_box {
  height: 35px;
  line-height: 35px;
  padding: 5px;
}

.border {
  .w;
  margin: 10px 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.text_box_min {
  height: 20px;
  line-height: 20px;
  padding: 5px;
}

.area {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px;
  margin: 10px 0;
  border-radius: 8px;
}

.area_hover {
  .area;
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
