.z-input {
  --bg-primary: #f9fafb;
}

.z-button {
  height: 32px;
}

.z-dropdown {
  .full;
  .z-dropdown-trigger {
    .full;
  }
}
.z-menu-switch-header,
.z-menu-switch-inner {
  padding: 0 !important;
}

.z-menu-switch {
  margin-bottom: 0 !important;
}

.z-menu {
  width: auto !important;
  box-shadow: none !important;
  padding-bottom: 0px !important;
  .z-menu-title {
    // height: 100% !important;
    height: 45px !important;
  }
}

.z-pop-content {
  border-radius: 8px;
  background-color: #fff;
  // height: 90%;
  overflow: hidden;
  display: flex;
}

.z-card-content {
  padding: 0px !important;
}

.z-input-wrapper {
  input {
    border-radius: 2px;
    background: var(---Fill-3-, #f2f3f5);
  }
}

.input {
  border: none !important;
}

.z-page-detail {
}

.z-select {
  height: 28px !important;
  border-radius: 2px;
  // border: 1px solid var(---Line-2-, #e5e6eb) !important;
}
.z-select .el-select__wrapper {
  background: var(---Fill-3-, #f2f3f5) !important;
}

.page-operations {
  .fc;
  .z-button {
    border-radius: 2px;
    border: 1px solid var(---Line-2-, #e5e6eb);
  }
}

.z-card {
  height: auto !important;
  flex: 1;
}

.z-input-wrapper {
  // padding: 0 !important;
}

.z-date-picker {
  .h;
  .ant-picker {
    background: var(---Fill-3-, #f2f3f5);
  }
}

.z-tag {
  height: 22px;
  padding: 0 8px;
}

.z-menu-half-radius {
  height: 32px !important;
  background-color: transparent !important;
  .z-menu-title {
    padding-left: 0 !important;
  }
}

.z-pop-shell {
  padding: 15px;
  padding-bottom: 15px !important;
}
